#navbar{
    height: 92px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}
#navbar img{
    margin: 16px 16px;
    margin-left: 120px;
    height: 60px;
    width: 139px;


}

.btn{
   
    border-radius: 4px;
    cursor: pointer;
    background-color: #469165;
    margin: 24px 120px 24px;
    border: none;
    height: 44px;
    width: 164px;
    color: white;

}

.btnWhite{
    background-color: white;
    border-radius: 1000px;
    width: 229px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    
}
.navf{
    height:24px;
    width: 365px;
    margin-top: 34px;
    margin-bottom: 34px;

}

#navbar .navf a{
    text-decoration: none;
    color: #000000;
    padding-right: 24px;
    font-size: 16px;
    

}


#banner{
    height: 674px;
    width: 100%;
    border: 1px solid;
    background-image: url('assets/hero-bg.png');
}

.div1{
    display: flex;
    justify-content: center;
}

.greenText{
    color: #469165;
}
.whiteText{
     color: #FFFFFF;
}

.SixteenText{
    font-size: 18px;
    font-weight:normal;
    line-height: 24px;
}

.div1 h1{
    font-size: 72px;
}

.btn2{
   
    border-radius: 4px;
    height: 52px;
    width: 252px;
    cursor: pointer;
    background-color: #469165;
    border: none;
    padding: 12px 16px; 
    margin: 12px;
}



.btn3{
    border-radius: 4px;
    height: 52px;
    width: 252px;
    cursor: pointer;
    background: transparent;
    border: 2px solid white;
    padding: 12px 16px; 
    margin: 12px;
}

.core{
    width: 6px;
    height: 6px;
    background: #2e7d5b;
    border-radius: 100%;
}

.middle{
width: 14px;
height: 14px;
background: #8fd1ae;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
}


.higher{
width: 22px;
height: 22px;
background: #dff3e8;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
}


.btnFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.bannerSection{
  margin: 110px;
}
#third-attempt{
    display: flex;
    justify-content: center ;
    align-items: center ;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f6f1f1;
    margin-bottom: 120px;
}
#third-attempt .p h1{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    
} 
.p p{
    font-size: 16px;
    
    font-weight: normal;
    color: #627382;
    margin-bottom: 0;
    margin-top: 16px;
    height: 20px;
    /* width: 1360px; */
}
.p{
    height: 152px;


}
.card{
    height: 300px;
    width: 100%;
    margin-top: 44px;
    display: flex;
    gap: 24px;
    padding-left: 120px;
    padding-right: 120px;
    
}
 .first-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 6px 50px 0 #00000010;
    padding: 70px;
    border-radius: 8px;
    background-color: #FFFFFF;


 }
 .first-card h1{
   font-size: 24px;
   font-weight: 600;    
 }
 .first-card p{
    font-size: 16px;
    font-weight: normal;
    color: #627382;
 }
 .first-card img{
    background-color: red;
    padding: 15px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
 }


.brain{
    width: 1360px;
    height: 600px;
    margin: auto;
    display: flex;
    margin-bottom: 120px;
}

.brain-img{
height: 600px;
width: 600px;
border-radius: 12px;

}

.brain-text{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
padding: 60px;
}


#sol-head{
    margin-top: 16px;
    margin-bottom: 16px;
     font-size: 48px;
    font-weight: bold;
}

#sol-point{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    font-weight: 500;
}




#sol-para{
    color: #627382;
    line-height: 20px;
}

.point-flex{
    display: flex;
    gap: 6px;
}
.ready-think{
    /* border:1px solid black; */
    height: 384px;
    width: 1360px;
    margin: auto;
    background-color: #d5bc5920;
    border-radius: 10px;
    margin-bottom: 120px;

}
.ready{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* padding-left:50px; */
    justify-content: center;
    align-items: center;
    
}
.ready h1{
    font-size: 56px;
    margin-top: 80px;
    margin-bottom: 16px;

}
.ready p{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    
    color: #627382;

}
.ready-text{
    text-align: justify;
    /* margin-bottom: 24px; */
}
.btn-text{
    margin-bottom: 80px;
}
.btn-text button{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.186);
}
.get{
    margin-bottom: 0px;
}

.last-part{
    height: 348px;
    width: 100%;
    /* border: 1px solid red; */
    background-color: #001931;


}
.foot-info{
    color: white;
    display: flex;
    height: 60px;
    width: 1360px;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
     padding-top: 120px;
    margin: auto;
    margin-bottom: 80px;

}
.links{
    display: flex;
    gap: 14px;
}
.rights p{
    color:#FAFAFA ;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
}


.btnaccess{
   
    border-radius: 4px;
    cursor: pointer;
    background-color: #469165;
    margin: 24px 120px 24px;
    border: none;
    height: 44px;
    width: 167px;
    color: white;

}